In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./원본 데이터/동기화 데이터.csv')

print(df.head())

   WorkDate  UserCode  Heartbeat  Temperature  Spo2   Latitude   Longitude  \
0  20230803         1          0            0     0  35.173800  129.128500
1  20230803         1         59            0     0  35.173400  129.128200
2  20230803         1         76            0     0  35.173400  129.128200
3  20230803         7         82          367    -1  35.174502  129.128097
4  20230803         7         82          367    -1  35.174502  129.128097

             VitalDate        X     Y        Z         RegisterDate
0  2023-08-03 13:32:19     0.04  0.09     0.01  2023-08-03 13:32:19
1  2023-08-03 13:32:35    -0.01 -0.01    -0.01  2023-08-03 13:32:35
2  2023-08-03 13:33:55     0.04 -0.03    -0.06  2023-08-03 13:33:55
3  2023-08-03 08:56:02 -4480.00  0.00  6848.00  2023-08-03 08:56:02
4  2023-08-03 08:56:02 -4480.00  0.00  6848.00  2023-08-03 08:56:02

In [3]:
# 데이터의 크기 확인
print(df.shape)

(790973, 12)

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 790973 entries, 0 to 790972
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   WorkDate      790973 non-null  int64
 1   UserCode      790973 non-null  int64
 2   Heartbeat     790973 non-null  int64
 3   Temperature   790973 non-null  int64
 4   Spo2          790973 non-null  int64
 5   Latitude      790973 non-null  float64
 6   Longitude     790973 non-null  float64
 7   VitalDate     790973 non-null  object
 8   X             790973 non-null  float64
 9   Y             790973 non-null  float64
 10  Z             790973 non-null  float64
 11  RegisterDate  790973 non-null  object
dtypes: float64(5), int64(5), object(2)
memory usage: 72.4+ MB
None

In [5]:
# 기본적인 통계 정보 확인
print(df.describe())

           WorkDate       UserCode      Heartbeat    Temperature  \
count  7.909730e+05  790973.000000  790973.000000  790973.000000
mean   2.023073e+07      44.273373      82.161987     358.773292
std    3.113212e+01      60.198342      16.053516      45.365314
min    2.023071e+07       0.000000       0.000000       0.000000
25%    2.023071e+07      12.000000      73.000000     362.000000
50%    2.023072e+07      12.000000      82.000000     364.000000
75%    2.023073e+07      48.000000      94.000000     367.000000
max    2.023080e+07     267.000000     192.000000     369.000000

                Spo2       Latitude      Longitude              X  \
count  790973.000000  790973.000000  790973.000000  790973.000000
mean       95.504691      34.769663     127.506997   -4009.220146
std        13.106167       3.867091      14.178637    2928.349097
min        -1.000000       0.000000       0.000000  -23552.000000
25%        96.000000      35.179609     129.077704   -6336.000000
50%        97.000000      35.179829     129.078393   -4096.000000
75%        99.000000      35.212025     129.091274   -2240.000000
max       100.000000      35.864031     129.243652   24768.000000

                   Y              Z
count  790973.000000  790973.000000
mean     2746.867748     656.644528
std      4775.885120    3760.084210
min    -19264.000000  -25728.000000
25%      -640.000000   -1664.000000
50%      3456.000000     320.000000
75%      7104.000000    3264.000000
max     26240.000000   24896.000000

In [6]:
print(df.dtypes)

WorkDate          int64
UserCode          int64
Heartbeat         int64
Temperature       int64
Spo2              int64
Latitude        float64
Longitude       float64
VitalDate        object
X               float64
Y               float64
Z               float64
RegisterDate     object
dtype: object